%h1
	%img{:src => "images/cyberchat1.jpg"}
%p.welcome Welcome to Cyberchat!!!
%form#post
	%p
		%a.link{:href => "http://img.dafont.com/dl/?f=chintzy_cpu_brk"} 'Download and install this font!'
		%a.link2{:href => "http://www.dafont.com/digital-7.font"} 'Download and install this font!'

		%input.input1{:name => "name", :value => session[:name], :placeholder => "your name"}
		%input.input2#mess{:name => "message", :placeholder => "message"}
		%input.send{:type => "submit", :value => "SEND"}
	#message_area.area
