%h1 Cyberchat
%p.welcome Welcome to Cyberchat!!!
%form#post
	%table
		%tr
			%td Name:
			%td
				%input{:name => "name", :value => session[:name]}
		%tr
			%td Message:
			%td
				%input#mess{:name => "message"}
				%input{:type => "submit",:value => "Send"}
	#message_area
