%body{:background => "images/cyber-global.jpg"}
%h1.cyber
	%img{:src => "images/cyberchat4.jpg"}
%form#post
	%p
		%input.input1{:name => "name", :value => session[:name], :maxlength => "25", :placeholder => "your name"}
		%input.input2#mess{:name => "message", :maxlength => "120", :placeholder => "message"}
		%input.send{:type => "submit", :value => "SEND"}
	#message_area.area
%html
	<style type="text/css">
	@font-face {
	font-family: "Digital-7";
	src: url(fonts/digital-7.ttf);
	}
	@font-face {
	font-family: "chintzy cpu brk";
	src: url(fonts/chintzy.ttf);
	}
	@font-face {
	font-family: "Space Age";
	src: url(fonts/spaceage.ttf);
	}
	@font-face {
	font-family: "DJB BLUEPRINT";
	src: url(fonts/DJBBLUEPRINT.ttf);
	}
	</style>