%h1 Cyberchatt
%p Welcome to Cyberchat!
%form#post
	%table
		%tr
			%td Name:
			%td
				%input{:name => "name", :value => session[:name]}
		%tr
			%td Message:
			%td
				%input{:name => "message"}
				%input{:type => "submit",:value => "Send"}
	#message_area
- $messages.each do |message|
	%p= message
	