%h1#cyber_chat.cyber
	%img{:src => "images/cyberchat4.jpg"}
%form#post
	%p#send_thing
		%input.input#input1{:name => "name", :value => session[:name], :maxlength => "25", :placeholder => "your name"}
		%input.input#input2{:name => "message", :maxlength => "120", :placeholder => "message"}
		%input.cyber_button{:type => "submit", :value => "SEND"}
	%input.cyber_button#logout{:type => "button", :onclick => "window.location = '../'", :value => "LOGOUT"}
	#message_area
:css
	body {
	background:url('http://cyberchat.heroku.com/images/cyber-global.jpg');
	background-repeat:repeat-y;
	background-color:#000000;
	}
	@font-face {
	font-family: "Digital-7";
	src: url(fonts/digital-7.ttf);
	}
	@font-face {
	font-family: "chintzy cpu brk";
	src: url(fonts/chintzy.ttf);
	}
	@font-face {
	font-family: "DJB BLUEPRINT";
	src: url(fonts/DJBBLUEPRINT.ttf);
	}