<meta http-equiv="refresh"
content="10">
%h1 Cyberchatt
%p Welcome to Cyberchat!
%form{:method => "post", :action => "/chatt"}
	%table
		%tr
			%td Name:
			%td
				%input{:name => "name", :value => session[:name]}
		%tr
			%td Message:
			%td
				%input{:name => "message"}
				%input{:type => "submit",:value => "Send"}
- $messages.each do |message|
	%p= message
