%body{:background => "images/dark.jpg"}
%h1.cyberchat
	%img{:src => "images/cyberchat5.jpg"}
%p.welcome Welcome to Cyberchat!!!
%a.link{:href => "http://cyberchat.heroku.com/chat"} Go on to Cyberchat
%html
	<style type="text/css">
	@font-face {
	font-family: "DJB BLUEPRINT";
	src: url(fonts/DJBBLUEPRINT.ttf);
	}
	</style>