%h1.cyberchat
	%img{:src => "images/cyberchat5.jpg"}
%p.welcome Welcome to Cyberchat!!!
%input.link{:onclick => "window.location = 'http://cyberchat.heroku.com/chat'", :type => "button", :value => "Go on to Cyberchat"}/
%html
	<style type="text/css">
	body {
	background-image:url('http://cyberchat.heroku.com/images/dark.jpg');
	background-repeat:no-repeat;
	background-color:#000000;
	}
	@font-face {
	font-family: "chintzy cpu brk";
	src: url(fonts/chintzy.ttf);
	}
	@font-face {
	font-family: "DJB BLUEPRINT";
	src: url(fonts/DJBBLUEPRINT.ttf);
	}
	</style>