body

	color: #00FF00
	background-color: #000000
	
	.cyber
		box-shadow: -28px -2px 8px #008000
		-moz-box-shadow: -28px -2px 8px #008000
		-webkit-box-shadow: -28px -2px 8px #008000
		-webkit-transition: all 1s ease-in-out
		-moz-transition: all 1s ease-in-out
		-o-transition: all 1s ease-in-out
		&:hover
			box-shadow: -23px 2px 8px #00FFCC
			-webkit-box-shadow: -23px 2px 8px #00FFCC
			-moz-box-shadow: -23px 2px 8px #00FFCC
		&:active
			box-shadow: -23px 0px 8px #800000
			-webkit-box-shadow: -23px 0px 8px #800000
			-moz-box-shadow: -23px 0px 8px #800000
	#cyber_home
		position: absolute
		left: 0px
		top: -22px
	#cyber_chat
		position: absolute
		left: -5px
		top: -22px
	.welcome
		color: #000000
		position: absolute
		left: 20px
		top: 210px
		font-family: "chintzy cpu brk"
		font-size: 300%
		text-shadow: 0px -5px 5px #00CC00
	.incorrect
		position: absolute
		left: 50px
		top: -50px
		font-size: 500%
	#message_area
		position: absolute
		left: 20px
		top: 150px
		font-family: "DJB BLUEPRINT"
		font-size: 15
		color: #00FF00
	.cyber_button
		position: absolute
		top: 145px
		left: 160px
		width: 50px
		height: 35px
		border: 1px solid grey
		font-family: "chintzy cpu brk"
		font-size: 15
		color: #FFFFFF
		background: -moz-linear-gradient(center top, #00FF00, #008000 25%, #2F4F4F 50%, #006400 75%, #00FF00)
		background: -webkit-gradient(linear, center top, center bottom, from(#00FF00), color-stop(25%, #008000), color-stop(50%, #2F4F4F), color-stop(75%, #006400), to(#00FF00))
		background: -o-linear-gradient(top,rgb(0,255,0),rgb(0,128,0) 50%,rgb(47,79,79) 75%,rgb(0,204,0))
		-moz-box-shadow: 1px 1px 5px #2F4F4F
		-webkit-box-shadow: 1px 1px 5px #2F4F4F 
		box-shadow: 1px 1px 5px #2F4F4F
		-moz-border-radius-topleft: 2px
		-moz-border-radius-topright: 10px
		-moz-border-radius-bottomright: 10px
		-moz-border-radius-bottomleft: 2px
		-webkit-border-top-left-radius: 2px
		-webkit-border-top-right-radius: 10px
		-webkit-border-bottom-right-radius: 10px
		-webkit-border-bottom-left-radius: 2px
		&:hover
			position: absolute
			top: 144px
			left: 160px
			width: 54px
			height: 37px
			color: #ADFF2F
			background: -o-linear-gradient(top,rgb(255,215,0),rgb(0,128,0) 50%,rgb(47,79,79) 75%,rgb(0,204,0))
			background: -webkit-gradient(linear, center top, center bottom, from(#FFD700), color-stop(25%, #008000), color-stop(50%, #2F4F4F), color-stop(75%, #006400), to(#00FF00))			
			background: -moz-linear-gradient(center top, #FFD700, #008000 25%, #2F4F4F 50%, #006400 75%, #7FFF00)
		&:active
			position: absolute
			top: 150px
			left: 160px
			width: 50px
			height: 30px
			color: #000000
			opacity: 0.2
			background: -o-linear-gradient(top,rgb(255,0,0),rgb(128,0,0) 50%,rgb(47,79,79) 75%,rgb(139,0,0))
			background: -webkit-gradient(linear, center top, center bottom, from(#FF0000), color-stop(25%, #800000), color-stop(50%, #2F4F4F), color-stop(75%, #8B0000), to(#DC143C))
			background: -moz-linear-gradient(center top, #FF0000, #800000 25%, #2F4F4F 50%, #8B0000 75%, #DC143C)
	.input
		font-family: "Digital-7"
		background: -o-linear-gradient(left,rgb(0,0,0),rgb(0,0,51))
		background: -moz-linear-gradient(right, #000000, #000033)
		background: -webkit-gradient(linear, right center, left center, from(#000000), to(#000033)) 
		border: 0px
		text-shadow: 0px -5px 10px #FF6600
	#input1
		position: absolute
		top: 145px
		left: -40px
		width: 200px
		color: #7FFF00
	#input2
		position: absolute
		top: 160px
		left: -40px
		width: 200px
		height: 20px
		color: #00FFFF
	.username
		position: absolute
		top: 400px
		left: 600px
		height: 20px
		width: 200px
		color: #FF22AA
		font-family: "DJB BLUEPRINT"
	.password
		position: absolute
		top: 419px
		left: 600px
		width: 200px
		height: 16px
		color: #00FFCC
		font-family: "chintzy cpu brk"
		font-size: 11
	#login
		position: absolute
		top: 400px
		left: 800px
	#logout
		position: fixed
		top: 92%
		left: 90%
		width: 80px
		height: 20px
		z-index: 1
	#send_thing
		position: fixed
		top: -100px
		left: 80%
		z-index: 1
	#login_thing
		position: absolute
		top: 215px
		left: 480px