body	
	h1
		position: absolute
		left: 0px
		top: -100px
		font-family: "chintzy cpu brk"
		font-size: 900%
	.welcome
		position: absolute
		left: 20px
		top: 80px
		font-family: "chintzy cpu brk"
		font-size: 200%
	.area
		position: absolute
		left: 20px
		top: 250px
	.link
		position: absolute
		right: 5px
		top: -15px
	.send
		position: absolute
		top: 200px
		left: 242px
		width: 48px
		height: 40px
		font-family: "chintzy cpu brk"
		color: #00CC00
	.tid
		color: #FF0000
		background-color: #00FF00
	.input1
		position: absolute
		top: 195px
		left: 90px
		font-family: "chintzy cpu brk"
		color: #00FF00
		background-color: #000000
		border-color: #00FF00
	.input2
		position: absolute
		top: 220px
		left: 90px
		font-family: "chintzy cpu brk"
		color: #00FF00
		background-color: #000000
		border-color: #00FF00
	.text1
		position: absolute
		top: 195px
		left: 20px
		font-family: "chintzy cpu brk"
		color: #00FF00
	.text2
		position: absolute
		top: 220px
		left: 20px
		font-family: "chintzy cpu brk"
		color: #00FF00
	background-image: url('images/cyber-global.jpg')
	color: #00FF00