body
	h1
		font-face
			font-family: chintzy
			src: url('fonts/chintzy.otf') format('opentype')
			src: local('fonts/chintzy.otf') 
	.welcome
		font-family: impact
	font-size: 100%
	background-color: #000000 
	color: #00FF00