body {
  font-size: 100%;
  background-color: black;
  color: lime; }
  body h1
    @font-face {
    	font-family: "chintzy";
    	src: url(fonts/chintzy.otf)
	}
	.chintzy {
    	font-family: "chintzy";
    	font-size: 230%;
	}